.confirm {
  padding: 12px 16px;
  background-color: white;
  border-radius: 4px;
filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.15));
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 104px;
  left: 90px;
  top: 0;
}

.confirm-question {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.button-group {
  display: flex;
  flex-direction: row;
  align-self: flex-end;

}

.confirm-img {
  margin-right: 9px;
}


.arrow {
  position: absolute;
  left: -6px;
}